#nav_item {
    position: relative;
    transition: all 0.4s;
}

#nav_item::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #163c4b;
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0;
    transition: all 0.2s;
}

#nav_item:hover::after{
    opacity: 1;
}



